---
const PROJECTS = [
    {
        title:'Project 1',
        description:'Lorem ipsum dolor sit amet',
        link:'#',
        github:'#',
        image:'../public/projects/webtatu.jpg',
        tags: ['HTML, CSS, JAVASCRIPT'],
    }
]
---

{
 PROJECTS.map(({image, title, description, tags }) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map((tag) => (
                    <li>{tag}</li>
                ))}
            </ul> 
            <img src={image} alt={`captura de pantalla del proyecto ${image}`} />   
        </article>
    ))
}
   
