---
const PROJECTS = [
    {
        title:'Porfolio tatudev - Mi primera aplicación web con la que estoy aprendiendo',
        description:'Este es mi primer proyecto en el cual estoy aprendido mucho',
        link:'#',
        github:'https://github.com/raulmm24/portfolio/blob/master/public/projects/webtatu.jpg',
        image:'../public/projects/webtatu.jpg',
        tags: ['HTML5, Tailwind CSS, JavaScript, Astro'],
    }
]
---

{
 PROJECTS.map(({image, title, description, tags }) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map((tag) => (
                    <li>{tag}</li>
                ))}
            </ul> 
            <img src={image} alt={`captura de pantalla del proyecto ${image}`} />   
        </article>
    ))
}
   
