---
import TailwindCss from '../components/icons/TailwindCss.astro';
import Html5 from '../components/icons/Html5.astro';

const TAGS = {
    HTML5: {
        name:'html',
        class:'bg-black text-white',
        icon: Html5,
           
    },
    TAILWIND: {
        name:'Tailwind CSS',
        class:'bg-white text-[#73bcf6]',
        icon: TailwindCss,
            
    },
}

const PROJECTS = [
    {
        title:'Porfolio tatudev - Mi primera aplicación web',
        description:'Este es mi primer proyecto en el cual estoy aprendido mucho',
        link:'#',
        github:'https://github.com/raulmm24/portfolio/blob/master/public/projects/webtatu.jpg',
        image:'../public/projects/webtatu.jpg',
        tags: [TAGS.HTML5, TAGS.TAILWIND,],
    }
]
---

{
 PROJECTS.map(({image, title, description, tags }) => (
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-4 flex-row">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul> 
            <img class="rounded shadow-2xl shadow-white/10" 
            src={image} 
            alt={`captura de pantalla del proyecto ${image}`} />   
        </article>
    ))
}
   
